<template>
  <div class="eventdetail">
    <div class="events">
      <section v-if="errored">
        <p>We're sorry, we're not able to retrieve this information at the moment, please try back later</p>
      </section>

      <section v-else>
        <div v-if="loading">Loading...</div>
        <div v-else class="event">
          <h1>{{eventDetail.name}}</h1>
          <span class="date">
            Event start:
            <br />
            <strong
              class="datetime-badge"
            >{{eventDetail.starts | formatDate }} | {{eventDetail.starts | formatTime}}</strong>
            Event end:
            <br />
            <strong
              class="datetime-badge"
            >{{eventDetail.ends | formatDate }} | {{eventDetail.ends | formatTime}}</strong>
            Timezone:
            <br />
            <strong class="date-badge">({{eventDetail.timezone}})</strong>
          </span>
        </div>
      </section>
    </div>

    <!-- Sessions -->
    <Sessions />


  </div>
</template>

<script>
import axios from "axios";
import Sessions from "./Sessions";

let eventDetailUrl =
  "https://thingproxy.freeboard.io/fetch/https://api.boomset.com/events/";

export default {
  name: "EventDetail",
  components: {
    Sessions
  },
  data() {
    return {
      loading: true,
      errored: false,
      eventDetail: [],
      id: this.$route.params.id
    };
  },
  created() {
    // Get Event Detail
    axios
      .get(eventDetailUrl + this.$route.params.id, {
        headers: {
          Authorization: "Token ed56d8f5cbc4f810ff1a7a5ccb7af8e6"
        }
      })
      .then(response => {
        (this.loading = false), (this.eventDetail = response.data);
        //console.log(response.data);
      })
      .catch(error => {
        console.log(error);
      });
  },
  watch: {
    // Watch and get params from Events the router-link element
    $route: {
      handler: to => {
        document.title = to.params.title + " - Boomset" || "Boomset";
      },
      immediate: true // page title change refresh immediately after page change.
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.event {
  border: 1px solid #f5f5f5;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 10px 10px #eee;
  margin-top: 15px;
  padding: 30px 30px 60px;
  border-left: 2px solid #5658cc;
}

h1 {
  color: #5658cc;
  font-size: 18px;
  margin: 0 0 5px;
}

.time {
  color: #888;
  font-size: 12px;
}

.date {
  color: #888;
  font-size: 12px;
}

.datetime-badge {
  padding: 4px;
  margin: 4px 0 8px;
  width: 200px;
  text-align: center;
  display: block;
  border-radius: 5px;
  background: #22dd70;
  color: #fff;
  font-size: 12px;
}
</style>
