<template>
  <div class="events">
    <section v-if="errored">
      <p>We're sorry, we're not able to retrieve this information at the moment, please try back later</p>
    </section>

    <section v-else>
      <div v-if="loading">Loading...</div>
      <router-link
        :to="{name: 'EventDetail', params: { id: event.id, title: event.name }}"
        v-else
        v-for="event in eventsByName"
        class="event"
        :key="event.id"
        v-lazy-container="{ selector: 'img', loading: './loading.svg' }"
      >
        <div class="event__img">
          <img data-src="http://via.placeholder.com/400?text=Picture" alt />
        </div>

        <div class="event__info">
          <h1>{{event.name}}</h1>
          <span class="date">
            Event start:
            <br />
            <strong
              class="datetime-badge"
            >{{event.starts | formatDate }} | {{event.starts | formatTime}}</strong>
            Event end:
            <br />
            <strong
              class="datetime-badge"
            >{{event.ends | formatDate }} | {{event.ends | formatTime}}</strong>
            Timezone:
            <br />
            <strong class="date-badge">({{event.timezone}})</strong>
          </span>
        </div>
      </router-link>
    </section>
  </div>
</template>

<script>
import axios from "axios";

let eventsUrl =
  "https://thingproxy.freeboard.io/fetch/https://api.boomset.com/events";

export default {
  name: "Events",
  data() {
    return {
      loading: true,
      errored: false,
      events: []
    };
  },
  created() {
    // Get Events
    axios
      .get(eventsUrl, {
        headers: {
          Authorization: "Token ed56d8f5cbc4f810ff1a7a5ccb7af8e6"
        }
      })
      .then(response => {
        (this.loading = false), (this.events = response.data.results);
        //console.log(response.data.results);
      })
      .catch(error => {
        console.log(error);
      });
  },
  computed: {
    eventsByName: function() {
      return this.events.slice().sort(function(a, b) {
        return a.name > b.name ? 1 : -1;
      });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.events section {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1%;
  margin-right: -1%;
}
.event {
  width: 31.333%;
  display: block;
  border: 1px solid #f5f5f5;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 10px 10px #eee;
  margin: 1%;
  overflow: hidden;
  transition: 300ms;
}

.event:hover {
  box-shadow: 0 10px 10px hsl(0, 0%, 88%);
}

.event__img img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  transition: 300ms;
}

.event__info {
  padding: 15px;
}

h1 {
  color: #5658cc;
  font-size: 16px;
  margin: 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.date {
  color: #888;
  font-size: 12px;
}

.datetime-badge {
  padding: 4px;
  margin: 4px 0 8px;
  width: 200px;
  text-align: center;
  display: block;
  border-radius: 5px;
  background: #22dd70;
  color: #fff;
  font-size: 12px;
}

img[lazy="loading"] {
  object-fit: contain;
  transform: scale(0.9);
}

@media (max-width: 980px) {
  .events section {
    margin: 15px 0 0;
    padding: 0 5px;
  }
  .event {
    width: 100%;
    margin: 0 0 5%;
  }
}
</style>
