<template>
  <footer>
    <p>Copyright &copy; 2020 Boomset</p>
  </footer>
</template>

<script>
export default {};
</script>

<style scoped>
footer {
  padding: 30px 0;
  color: #555;
  font-size: 12px;
  text-align: center;
}
footer p {
  padding: 0;
  margin: 0;
}
</style>