<template>
  <div class="groups">
    <span>{{tid}}</span>
  </div>
</template>

<script>
import axios from "axios";

let groupsUrl =
  "https://thingproxy.freeboard.io/fetch/https://api.boomset.com/groups/";

export default {
  name: "Groups",
  props: ["tid"],
  data() {
    return {
      library: {}
    };
  },

  watch: {
    // if tid is updated, this will trigger... I Think :-D
    tid: function(value) {
      console.log(value);
      axios
        .get(groupsUrl + value, {
          headers: {
            Authorization: "Token ed56d8f5cbc4f810ff1a7a5ccb7af8e6"
          }
        })
        .then(response => (this.library = response.data.results.name))
        .catch(error => {
          console.log(error);
        });
    }
  },
  computed: {
    getPr() {
      return this.$props;
    }
  },
  mounted() {
    console.log(this.$props);

    // Will be undefined
    /*
        Http.get('/api/interactive/lib/' + this.tid)
            .then(response => this.library = response.data)
            .catch(error => console.log(error.response.data))*/
  }
};
</script>