<template>
  <header>
    <router-link to="/" class="logo">
      <img src="../assets/logo.svg" alt />
    </router-link>
  </header>
</template>

<script>
export default {};
</script>

<style scoped>
header {
  margin: 15px 0 10px;
  padding: 15px 20px;
  background: #222;
  border-radius: 5px;
}
.logo {
  display: block;
  width: 150px;
}
</style>