<template>
  <div class="sessions">
    <section v-if="errored">
      <p>We're sorry, we're not able to retrieve this information at the moment, please try back later</p>
    </section>

    <section v-else>
      <div v-if="loading">Loading...</div>
      <div v-else v-for="session in sessionsByDate" class="sessions__item" :key="session.id">
        <div class="sessions__item--left">
          <h3>{{session.name}}</h3>
          <span
            class="sessions__date"
          >{{session.starts | formatDate }} | {{session.starts | formatTime}}</span>
        </div>
        <div class="sessions__item--right">
          <span class="sessions__capacity">
            Capacity
            <br />
            <strong>{{session.capacity}}</strong>
          </span>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import axios from "axios";

let sessionsListUrl =
  "https://thingproxy.freeboard.io/fetch/https://api.boomset.com/events/";

export default {
  name: "Sessions",
  data() {
    return {
      loading: true,
      errored: false,
      sessions: []
    };
  },
  created() {
    // Get Sessions
    axios
      .get(sessionsListUrl + this.$route.params.id + "/sessions", {
        headers: {
          Authorization: "Token ed56d8f5cbc4f810ff1a7a5ccb7af8e6"
        }
      })
      .then(response => {
        (this.loading = false), (this.sessions = response.data.results);
        //console.log(response.data.results);
      })
      .catch(error => {
        console.log(error);
      });
  },
  computed: {
    sessionsByDate: function() {
      return this.sessions.slice().sort(function(a, b) {
        return a.starts < b.starts ? 1 : -1;
      });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.sessions {
  display: block;
  border: 1px solid #f5f5f5;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 10px 10px #eee;
  margin-top: 15px;
}

.sessions__item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 15px;
  width: 100%;
}

.sessions__item--left {
  margin-right: auto;
}

.sessions__item--right {
  margin-left: auto;
}

.sessions__item:last-child {
  border-bottom: 0;
}

h3 {
  color: #5658cc;
  font-size: 14px;
  margin: 0 0 3px;
}

.sessions__date {
  color: #888;
  font-size: 12px;
}

.sessions__capacity {
  font-size: 11px;
  color: #888;
  line-height: 1;
}
</style>
