<template>
  <div id="app">
    <Header />
      <router-view></router-view>
    <Footer />
  </div>
</template>

<script>
import Header from "./components/Header";
import Footer from "./components/Footer";
export default {
  name: "App",
  components: {
    Header,
    Footer
  },
  watch: {
    // Watch get from routes.js meta:title
    $route: {
      handler: (to) => {
        document.title = to.meta.title || "Boomset";
      },
      immediate: true // page title change refresh immediately after page change.    
    }
  }
};
</script>

<style>
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background: #f8f8f8;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

#app {
  width: 960px;
  margin: auto;
}

@media (max-width: 980px) {
  #app {
    width: 95%;
  }
}
</style>